<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="iphone-SE">
      <img class="web-photo-editor" src="img/web-photo-editor-2-1.png" />
      <div class="text-wrapper">HIP-HOP</div>
      <img class="rectangle" src="img/rectangle.png" />
      <div class="div">presents</div>
      <div class="text-wrapper-2">culture and development</div>
      <p class="HIP-HOP-WORKSHOPS-AT">HIP HOP&nbsp;&nbsp;WORKSHOPS AT DOWNTOWN <br />BY TOP HIPHOP ARTISTS</p>
      <div class="rectangle-2"></div>
      <div class="text-wrapper-3">REGISTER NOW</div>
      <div class="text-wrapper-4">FREE</div>
    </div>
  </body>
</html>


<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="iphone-SE">
      <img class="web-photo-editor" src="img/web-photo-editor-2-1.png" />
      <div class="rectangle"></div>
      <div class="text-wrapper">PARTICIPANT DETAILS</div>
      <div class="div">Name:</div>
      <div class="text-wrapper-2">Gender:</div>
      <div class="text-wrapper-2">Gender:</div>
      <div class="text-wrapper-3">Ph.no:</div>
      <div class="text-wrapper-4">City:</div>
      <div class="text-wrapper-5">Age:</div>
      <div class="text-wrapper-6">EmailId:</div>
      <div class="rectangle-2"></div>
      <div class="rectangle-3"></div>
      <div class="rectangle-4"></div>
      <img class="img" src="img/rectangle-5.svg" />
      <img class="rectangle-5" src="img/rectangle-6.svg" />
      <img class="rectangle-6" src="img/rectangle-7.svg" />
    </div>
  </body>
</html>


<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="iphone-SE">
      <img class="web-photo-editor" src="img/web-photo-editor-2-1.png" />
      <div class="text-wrapper">DANCE BACKGROUND</div>
      <div class="rectangle"></div>
      <div class="div"></div>
      <p class="p">How long have you been dancing?</p>
      <p class="text-wrapper-2">How long have you been dancing?</p>
      <div class="text-wrapper-3">Training Background:</div>
      <div class="text-wrapper-4">Dance Academy</div>
      <div class="text-wrapper-5">Beginner</div>
      <div class="text-wrapper-6">Intermediate</div>
      <div class="text-wrapper-7">Advanced</div>
      <div class="text-wrapper-8">Professional</div>
      <div class="text-wrapper-9">Workshops</div>
      <div class="text-wrapper-10">Self Trained</div>
      <div class="text-wrapper-11">School/College</div>
      <div class="rectangle-2"></div>
      <div class="rectangle-3"></div>
      <div class="rectangle-4"></div>
      <div class="rectangle-5"></div>
      <div class="rectangle-6"></div>
      <div class="rectangle-7"></div>
      <div class="rectangle-8"></div>
      <div class="rectangle-9"></div>
      <div class="rectangle-10"></div>
    </div>
  </body>
</html>

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="iphone-SE">
      <div class="rectangle"></div>
      <img class="web-photo-editor" src="img/web-photo-editor-2-1.png" />
      <div class="div"></div>
      <p class="thank-you-for">
        Thank you for registering. <br />We look forward to dancing with you. <br />We will contact you through
        whatsapp<br />
        regarding venue , slots , date.
      </p>
    </div>
  </body>
</html>
