.iphone-SE {
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  width: 100%;
  min-width: 320px;
  min-height: 568px;
  position: relative;
}

.iphone-SE .web-photo-editor {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 568px;
  aspect-ratio: 0.56;
  object-fit: cover;
}

.iphone-SE .text-wrapper {
  position: absolute;
  top: 303px;
  left: 88px;
  background: linear-gradient(
    90deg,
    rgba(228, 198, 84, 1) 0%,
    rgba(153, 100, 1, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Limelight-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-SE .rectangle {
  position: absolute;
  top: 69px;
  left: 48px;
  width: 218px;
  height: 218px;
  aspect-ratio: 1;
  object-fit: cover;
}

.iphone-SE .div {
  position: absolute;
  top: 271px;
  left: 127px;
  width: 149px;
  font-family: "Koh Santepheap-Regular", Helvetica;
  font-weight: 400;
  color: #e4c654;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-SE .text-wrapper-2 {
  position: absolute;
  top: 332px;
  left: 54px;
  width: 212px;
  font-family: "Lavishly Yours-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-SE .HIP-HOP-WORKSHOPS-AT {
  position: absolute;
  top: 391px;
  left: -7px;
  width: 332px;
  text-shadow: 0px 4px 4px #00000040;
  -webkit-text-stroke: 1px #e4c654;
  font-family: "League Gothic-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-SE .rectangle-2 {
  position: absolute;
  top: 499px;
  left: 72px;
  width: 188px;
  height: 32px;
  background-color: #816600;
}

.iphone-SE .text-wrapper-3 {
  position: absolute;
  top: 503px;
  left: 72px;
  font-family: "Lexend Mega-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.iphone-SE .text-wrapper-4 {
  position: absolute;
  top: 363px;
  left: 34px;
  -webkit-text-stroke: 1px #000000;
  font-family: "Kings-Regular", Helvetica;
  font-weight: 400;
  color: #e4c654;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}