{% load static %}
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="iphone-SE">
      <img class="web-photo-editor" src="img/web-photo-editor-2-1.png" />
      <div class="text-wrapper">HIP-HOP</div>
      <img class="rectangle" src="img/rectangle.png" />
      <div class="div">presents</div>
      <div class="text-wrapper-2">culture and development</div>
      <p class="HIP-HOP-WORKSHOPS-AT">HIP HOP&nbsp;&nbsp;WORKSHOPS AT DOWNTOWN <br />BY TOP HIPHOP ARTISTS</p>
      <div class="rectangle-2"></div>
      <div class="text-wrapper-3">REGISTER NOW</div>
      <div class="text-wrapper-4">FREE</div>
    </div>
  </body>
</html>